<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      BarWaiter
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bebidas">Bebidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tapas">Tapas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/platos">Platos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/postres">Postres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cubatas">Cubatas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cafes">Cafes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/desayunos">Desayunos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>