<footer class="fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-none d-md-block">
        <h3>Información de Contacto</h3>
        <ul>
          <li>Dirección: Calle Cordoba 19 º A, Écija, Sevilla</li>
          <li>Correo electrónico: info@Bar-Waiter.com</li>
        </ul>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <h3>Redes Sociales</h3>
        <ul>
          <li>
            <a href="https://www.twitter.com/romancito_969">
              <img src="../../../assets/img/icons/gorjeo.png" alt="Twitter">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/roman.exe">
              <img src="../../../assets/img/icons/instagram.png" alt="Instagram">
            </a>
          </li>
          <li>
            <a href="https://www.github.com/romancito-969">
              <img src="../../../assets/img/icons/github.png" alt="GitHub">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/romansolanasbarrera969/">
              <img src="../../../assets/img/icons/linkedin.png" alt="Linkedin">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <h3>Créditos</h3>
        <ul>
          <li>Imagen por <a href="https://www.facebook.com/marisaypepe/">Cafe Bar 20 pa´K</a></li>
          <li>Iconos de redes sociales por <a href="https://www.flaticon.com/">Flaticon</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>Todos los derechos reservados &copy; 2023 Bar-Waiter S.A.</p>
  </div>
</footer>